html, body, root{
  height: 750px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(243, 242, 239);
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  position: relative;
  font-size: 24px;
  height: 100%;
}



*{
  box-sizing: border-box;
}

.error{
  color: crimson;
}

#note{
  font-size: 15px;
  position: absolute;
  bottom: 0;
  left: 5%;
  
}

#authentication{
  position: absolute;
  left: 50%;
  top: 180px;
  transform: translate(-50%);
  padding: 2%;
  padding-bottom: 4%;
  background-color: white;
  width: fit-content;
  height: fit-content;
  font-size: inherit;
  border: lightgray 3px solid;
}

#authentication label,
#authentication input{
  display: block;
  margin-bottom: 10px;
  width: 300px;
  font-size: inherit;
}

#authentication input{
  border-radius: 5px;
}

#authentication button{
  width: 300px;
  font-size: inherit;
  border: lightgray solid 1px;
  border-radius: 5px;
  color: white;
  background-color: black;
  margin-top: 20px;
  padding: 2%;
}

#authentication button:hover{
  transform: translate(0,-5%);
  cursor: pointer;
}

#authentication button:active{
  transform: translateY(4px);
}

#authentication .link{
  display: block;
  margin-top: 15px;
  font-size: 15px;
  text-decoration: underline;
  cursor: pointer;
}

#authentication #errMsg{
  color: crimson;
  font-size: 20px;
}




#navBar{
  position: relative;
  background-color: white;
  z-index: 10;
  height: 70px;
  border-bottom: solid lightgray 3px;
  padding-right: 15px;
}


#navBar button{
  float: right;
  box-sizing: border-box;
  height: 80px;
  font-size: 18px;
  margin-right: 10px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;
  transform:translateY(-5%);
}

#navBar #home{
  font-size: 25px;
  height: 60px;
  margin-left: 20px;
  float: left;
  font-weight: bold;
  transform:translateY(4%);
}

#navBar> button:not(#home):hover{
  border-bottom: black 5px solid;
}


#userIcon{
  z-index: 10;
  float: right;
  box-sizing: border-box;
  height: 40px;
  font-size: inherit;
  margin-right: 10px;
  border: none;
  padding-top: 20px;
  padding-bottom: 20px;
  transform:translateY(-7%);
}

#userIcon img{
  z-index: 10;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

#userMenu{
  
  position: absolute;
  
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  transform: translateX(-80%);
  
  height: 220px;
  width: 150px;
  padding-left: 10px;
  padding-top: 10px;
}

#userMenu button,
#userMenu div{
  
  z-index: 10;
  color: white;
  height: fit-content;
  padding: 2px;
}

#userMenu div{
  font-weight: bold;
}

#userMenu button:hover{
  border-bottom: white solid 2px;
}

h1{
  position: relative;
  top: 180px;
  left: 49%;
  width: fit-content;
  transform: translate(-50%);
}

#searchBar{
  position: relative;
  top: 180px;
  padding: 0;

}

#searchBar .material-icons{
  position: relative;
  font-size: 30px;
  transform: translate(-270px,10px);
  cursor: pointer;
}

#searchBar input{
  position: relative;
  border: none;
  outline: none;
  padding: 0;
  left: 50%;
  transform: translate(-50%);
  background-color: white;
 
  height: 50px;
  font-size: 20px;
  
}

#searchBar input{
  width: 700px;
  padding-left: 55px;
  padding-right: 10px;
  box-shadow:2px 2px 2px 2px rgb(12, 12, 12);
}


#searchBar button{
  height: 55px;
  background-color: black;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  transform: translate(-330%,1.5px);
}

#searchBar button:hover{
  background-color: dimgray;
}


#searchBar button:active{
  background-color: black;
}



#searchResults{
  
  position: relative;
  z-index: 0;
  top: 50px;
  padding-bottom: 30px;
}

#searchResults h4,
#searchResults h3
{
  position: relative;
  left: 50%;
  width: fit-content;
  transform: translate(-50%);
}


.snippet{
  pointer-events: initial;
  background-color: white;
  position: relative;
  width: 600px;
  left: 50%;
  transform: translate(-50%);
  border: black 2px solid;
  border-radius: 5px;
  margin-top: 30px;
  cursor: pointer;
  padding: 10px;
}

.snippet:hover{
  background-color: darkgray;
}

.snippet:hover strong{
  border-bottom: solid 3px black;
}


#detail{
  width: 700px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  height: fit-content;
  padding: 80px 40px;
  min-height: 90vh;
  height: fit-content;
  background-color: white;
  border: lightgray 3px solid;
}

#detail #like{
  min-width: 62px;
  min-height: 35px;
}

#detail #apply a{
  color: white;
  text-decoration: none;
}



#detail button{
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 15px;
  padding: 5px 10px;
  
}



#detail #like, 
#detail #apply{
  background-color: white;
  border-radius: 25px;
  outline: none;
  border: none;
  margin-top: 1em;
  position: relative;
  cursor: pointer;
  padding: 10px 17px;
}

#detail #apply{
  background-color: teal;
  border: teal 2px solid;
}

#detail #like.liked{
  color: teal;
  background-color: PaleTurquoise;
  border: teal 2px solid;
}

#detail #like.unliked{
  color: black;
  border: teal 2px solid;
}

#detail #like:hover{
  color: white;
  background-color: black;
}

#detail strong{
  font-size: 30px;
}

#detail div{
  font-size: 20px;
}
#detail a{
  color: black ;
}
#detail p{
  white-space: pre-line;
  word-wrap: break-word;
  font-size: 20px;
  text-align: justify;
}

#job_form{
  position: relative;
  top: 25px;
  width: 30%;
  left: 50%;
  transform: translate(-50%);
  padding-bottom: 80px;
}

#job_form input,
#job_form label,
#job_form select,
textarea{
  width: 100%;
  display: block;
  font-size: 20px;
  
}

#job_form label{
  text-align: left;
  margin-bottom: 5px;
}

#job_form select{
  padding: 1px 2px;
}

#job_form select,
#job_form input{
  margin-bottom: 20px;
  border: solid darkgray 2px;
  padding: 8px 10px;
}

textarea{
  height: 400px;
  resize: none;
  border: solid black 2px;
}

#job_form button{
  font-size: 20px;
  background-color: lightgray;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
}

#job_form button:hover{
  background-color: dimgray;
}

#job_form button:active{
  background-color: black;
  color: white;
}


